/* 
 * Base partial: global imports, variables and the like.
 */

// Set up some variables.

// Font stacks.
$rem-base: 16px;
$base-line-height: 24px; // This line-height determines the basic unit of vertical rhythm.

$h1-font-size: 1.45 * $rem-base;
$h2-font-size: 1.5  * $rem-base;
$h3-font-size: 1.17 * $rem-base;
$h4-font-size: 1    * $rem-base;
$h5-font-size: 0.83 * $rem-base;
$h6-font-size: 0.67 * $rem-base;

$georgia:         Georgia, "Times New Roman", "DejaVu Serif", serif;
$tahoma:          Tahoma, Verdana, "DejaVu Sans", sans-serif;
$helvetica:       Helvetica, Arial, "Nimbus Sans L", sans-serif;
$helvetica-neue:  "Helvetica Neue", $helvetica;

// For an explanation of why "sans-serif" is at the end of this list, see
// http://meyerweb.com/eric/thoughts/2010/02/12/fixed-monospace-sizing/
$courier:         "Courier New", "DejaVu Sans Mono", monospace, sans-serif;

// Now create some variables for the font stacks we want to use on this site.
$base-font-family: $helvetica-neue; // The font family set on the html element.
$font-monospace:   $courier;

//
// Colors, etc.
//

$green:       #7ab86f;
$green-dark:  darken(#7ab86f, 15%);
$gray-dark:   #333333;
$white:       #ffffff;
$mapgrey:     #e8e8e8;
$mapgrey-darker: #999;

// The amount lists, blockquotes and comments are indented.
$indent-amount: 30px;

// Imports.
@import "functions";
@import "compass/css3";
@import "compass/typography/vertical_rhythm";
@import "compass/utilities/general/clearfix";
@import "compass/reset/utilities";
