/* 
 * Main styles.
 */

/* HTML element (SMACSS base) rules */
@import "normalize";

/* Body */

body {
  padding: 0px;
  margin: 0px;
  height: 100%;
}

html {
  height: 100%;
}

/* Map */
#map {
  position: absolute;
  /*float: left;*/
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 7;
}

/* Sidebar */
#sidebar {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  @include border-radius(2px);
  background-color: hsla(hue($mapgrey-darker), saturation($mapgrey-darker), lightness($mapgrey-darker), 0.95);
  margin: rem-calc(10);
  width: 30%;
  max-height: 97%;
  overflow-y: scroll;
  color: white;
}

#sidebar-inner {
  padding: 10px;
}

.sidebar-title {
  margin: 0;
  font-size: rem-calc(28);
  line-height: 1.45em;
}

.sidebar-intro {
  margin: 0;
  font-size: rem-calc(14);
  line-height: 1.45em;
}

#sidebar {
  @include single-box-shadow;
}

.info-item-title {
  margin: 0;
  font-size: rem-calc(18);
  line-height: 1.35em;
}

.spill-risks {
  width: 100%;
  margin: 0;
  thead,
  tbody {
    font-size: rem-calc(14);
  }
  th {
    text-align: left;
  }
  td {
    width: 30%;
    &:last-child {
      width: 40%;
    }
  }
}

.spill-risks-title {
  text-align: left;
  font-weight: bold;
}

.pipeline-info-item {
  cursor: pointer;
  margin-top: rem-calc(10);
  margin-bottom: rem-calc(10);
  &:last-child {
    margin-bottom: 0;
  }
  padding: rem-calc(10);
  background-color: lighten($mapgrey-darker, 10%);
  &.active {
    background-color: darken($mapgrey-darker, 10%);
  }
}

.small-note {
  margin-top: rem-calc(5);
  margin-bottom: rem-calc(5);
  font-size: rem-calc(12);
  font-style: italic;  
}

/* Legend */
.map-legend {
  background-color: hsla(hue($mapgrey-darker), saturation($mapgrey-darker), lightness($mapgrey-darker), 0.95);
  color: white;
  @include border-radius(2px);
}

.legend-title {
  margin-bottom: 0;
}

.legend-content {
  margin: 0;
  padding: 0;
  font-size: rem-calc(13);
  line-height: 1.35em;

  li {
    @include reset-list-style;
  }
}

/* SVG paths */
.pipeline-section {
  stroke-width: 5;
  stroke-opacity: 1;
  stroke: #000000;
  &.active {
    stroke: #ff0000;
  }
}